.focal-point-marker {
    border: 2px solid red;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

div.image-focal-point * {
    object-position: inherit !important;
    object-fit: inherit !important;
}